@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
    font-family: Outfit;
}

.active {
    background-color: #ebffed;
    border-color: #6db98d;
}

select, input, textarea {
    border: 1px solid #c2c2c2;
    outline-color: #6db98d;
    border-radius: 4px;
}