@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap');
@import "tailwindcss";

.playwrite-us-trad-guides-regular {
  font-family: "Playwrite US Trad Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: Outfit;
}


@media(max-width: 640px) {
  a.active{
    background-color: rgb(46, 46, 46);
    color: white;
  }
}